.page{
    background-color: whitesmoke;
}

.form{
    background-color: white;
    padding: 10px;
    margin: 25px; 
}

.formErrors{
    background-color: #f4d7d8;
    margin: 20px;
    padding: 10px;
}

Image{
    width:150;
    height:100;
    margin: 20px;
}
